!!!
.header
  -# %p グループを作成しました

.wrapper
  .side-bar
    = render 'messages/side-bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member:
          %li.Member
            test user
      .right-header
        %a.right-header__button
        = link_to edit_group_path(current_user) do
          Edit
    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: "  type a message"
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: 'hidden'
        .submit
          = f.submit 'Send', class: 'form submit'



